* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Poppins";
    overflow-x: hidden;
}


header {
    height: auto
        /*100vh*/
    ;
    width: auto
        /*100vw*/
    ;
    /*background-image: url(../img/IMG_8071.JPG);*/
    background-size: cover;
    background-color: rgba(20, 47, 78, 0.699)
}