:root{
    --color-primary: white;
    --color-secondaire: #222222 ;
    --color-text: #ffffff;
    --ff-police: 'Pixel', sans-serif ;
    --ff-texte: 'Alumni', sans-serif;
    --ff-texte2: 'Rubik', sans-serif
    --ff-texte3: 'Nosifer', sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-family:'Times New Roman', Times, serif;
}
 


body {
    overflow-x: hidden;

    background-color: rgb(73, 71, 71);
    color: rgb(255, 255, 255);
    font-family: var(--ff-police);



/*---------------------NAV_BAR-----------------------*/

.nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}





}

@font-face {
    font-family: "Rubik";
    src: url(../police/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Pixel";
    src: url(../police/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Nosifer";
    src: url(../police/Nosifer/Nosifer-Regular.ttf);
}
@font-face {
    font-family: "Alumni";
    src: url(../police/Alumni_Sans_Collegiate_One/AlumniSansCollegiateOne-Regular.ttf);
}