:root{
    --color-primary: white;
    --color-secondaire: #222222 ;
    --color-text: #74ffa2;
    --ff-texte1: 'Pixel', sans-serif ;
    --ff-texte: 'Alumni', sans-serif;
    --ff-texte2: 'Rubik', sans-serif;
    --ff-texte3: 'Nosifer', sans-serif;
}

@font-face {
    font-family: "Rubik";
    src: url(../police/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Pixel";
    src: url(../police/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Nosifer";
    src: url(../police/Nosifer/Nosifer-Regular.ttf);
}

@font-face {
    font-family: "Alumni";
    src: url(../police/Alumni_Sans_Collegiate_One/AlumniSansCollegiateOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

 

body {
    overflow-x: hidden;
}

/*---------------------nav_BAR-----------------------*/

.nav {
    position:fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 1rem 2rem;
    transition: 0.3s ease-in;
    background-color: rgb(130, 56, 130);
    backdrop-filter: blur(4px);
    z-index: 1;
    transform: translateX(100%);
    animation: show 1s forwards;
}

.nav .Logo {
    font-family: var(--ff-texte2) ;
    color: var(--color-primary);
    font-size: 15px;
}
.nav .Title {
    font-size: 25px;
}
.nav .Subtitle {
    font-size: 20px;
}
.nav .nav-list  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.nav .nav-list .Nav-list-item {
    color: var(--color-text);
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.nav .nav-list .Nav-list-item:hover {
    color: darkblue;
    transform: translateY(-5px);
}

.Action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.Action_item {
    position: relative;
}

.Action_item i {
    color: var(--color-primary);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

.Action_item .counter::after {
    position: absolute;
    content: "0";
    font-size: 10px;
    background-color: rgb(28, 129, 131);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Action_item :hover {
    color: darkblue;
    transform: translateY(-5px);
}

/*---------------Section 1----------------------*/
.Section1 {
    min-height: 100vh;
    background-image: url(../img/IMG_8071.JPG);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 4rem;
    position: relative;
}
.Section1 h1 {
    font-size: 60px;
    font-family: var(--ff-texte1);
    color:aqua;
    font-weight: 8;
    letter-spacing: 1px;
    animation: show 1s forwards;
    transform: translateX(-100%);

}

@keyframes show {
    to {
        transform: translateX(0);
    }
}