:root{
    --color-primary: white;
    --color-secondary: black;
    -color-tri: blue

}

@font-face {
    font-family: "Rubik";
    src: url(../police/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Pixel";
    src: url(../police/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Nosifer";
    src: url(../police/Nosifer/Nosifer-Regular.ttf);
}

@font-face {
    font-family: "Alumni";
    src: url(../police/Alumni_Sans_Collegiate_One/AlumniSansCollegiateOne-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

/*----------------barre de navigation--------------------*/
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 1rem 2rem;
    transition: 0.3s ease-in;
    background-color: rgb(130, 56, 130);            backdrop-filter: blur(4px);
    z-index: 1;
    transform: translateX(00%);
    animation: show 1s forwards;
}    